<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./static/style.css">
        <title>Blog</title>
    </head>
    <body>
        <div class="reader">
            <div>
                <h2>Projeto Social Media Books</h2>
            </div>
            <div>
                <a href="/">Home</a> / <a href="/newuser">Novo Usuário</a> / <a href="/showusers">Usuários</a> / <a href="/alteruser">Alterar User</a> / <a href="/alterbook">Alterar Livro</a>
            </div>
        </div>


        {% block content %}
        
        {% endblock %}
    </body>
</html>